h3 {
  font-family: Bad Script, cursive;
  color: #9297f6;
}

label {
  font-family: Bad Script, cursive;
  color: #a6d666;
}

.btn-primary {
  background-color: #6ab6f7;
  font-family: Bad Script, cursive;
}